<button *ngIf="!showForm" id="creaEventoButton" (click)="showEventForm(true)">Pubblicizza il tuo evento</button>
<form *ngIf="showForm" id="formEvento" ng > 
    <div>
        <h1>Evento</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <input  [(ngModel)] = 'nomeEvento' type="text" class="form-control" name="nome" required minlength="4" required="true">
                    <label >Nome Evento</label>
                </div>
                <div class="col-md-6">
                    <input [(ngModel)] = 'url' type="text" class="form-control" name="url">
                    <label >Sito web dell' evento (facoltativo)</label>
                </div>
            </div>
        </div>
        <h2>Ubicazione</h2>
        <div class="container">
            <div class = "row">
                <div class="col-md-4">
                    <input [(ngModel)] = 'via' type="text" class="form-control" name="via" required="true">
                    <label >Via</label>
                </div>
                <div class="col-md-2">
                    <input [(ngModel)] = 'citta' type="text" class="form-control" name="citta" required="true">
                    <label >Città</label>
                </div>
                <div class="col-md-2">
                    <input [(ngModel)] = 'cap' type="number" class="form-control" name="cap" required="true">
                    <label >Cap</label>
                </div>
                <div class="col-md-2">
                    <input [(ngModel)] = 'provincia' type="text" class="form-control" name="provincia" required="true">
                     <label >Provincia</label>
                </div>
                <div class="col-md-2">
                    <input [(ngModel)] = 'regione' type="text" class="form-control" name="regione" required="true">
                    <label >Regione</label>
                </div>
            </div>
        </div>
        <h2>Recapiti</h2>
        <div class = "container">
            <div class="row">
                <div class="col-md-6">
                    <input [(ngModel)] = 'tel' type="tel" class="form-control" name="tel" required="true"> 
                    <label>Recapito telefonico</label>
                </div>
                <div class="col-md-6">
                    <input [(ngModel)] = 'email' type="email" class="form-control" name="mail" required="true">
                    <label>E-mail</label>
                </div>
            </div>
        </div>
        <h2>Date</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <input [(ngModel)] = 'dataInizio' type="date" class="form-control" name="dataInizio" required="true">
                    <label>Giorno inizio evento</label>
                </div>
                <div class="col-md-3">
                <input [(ngModel)] = 'orarioInizio' type="time" class="form-control" name="orarioInizio" min="6:00" max="24:00" required="true">
                <label >Orario inizio evento</label>
                </div>
                <div class="col-md-3">
                    <input  [(ngModel)] = 'dataFine' type="date" class="form-control" name="dataFine" required="true">
                    <label>Giorno fine evento</label>
                </div>
                <div class="col-md-3">
                <input [(ngModel)] = 'orarioFine' type="time" class="form-control" name="orarioFine" min="6:00" max="24:00" required="true">
                <label >Orario fine evento</label>
                </div>
            </div>
        </div>
        <h2>Descrizione evento</h2>
        <div class = "row">
            <div class="col-md-12">
                <label >Descrizione</label>
                <textarea [(ngModel)] = 'descrizione' class="form-control" name="descrizione" rows="10"></textarea>
            </div>
        </div>
        <h2>Immagini</h2>
        <label class="image-upload-container btn btn-bwm">
            <input #imageInput
                   [(ngModel)] = 'imageLoader'
                   name = 'immaginiCaricate'
                   type="file" multiple
                   accept="image/*"
                   (change)="processFile(imageInput)">
          </label>
        <div class="form-group">
            <input (click)="addEvent(); showEventForm(false)" class="btn btn-primary btn-lg btn-block" value="Invia il tuo evento">
        </div>
    </div>
</form>
