<button *ngIf="!showEventFormValue" id="creaEventoButton" (click)="showEventForm(true)">Pubblicizza il tuo evento</button>
<div id="mapContainer">
    
    <div id='map1' class="map"></div>
    <!--<div id='cerchio'></div>-->
    <div id="zoom">
        <button (click)="zoomIn()" id="zoomIn">+</button>
        <button (click)="zoomOut()" id="zoomOut">-</button>
    </div>
    <div *ngIf="saveButtonVisiblity" id="save">
        <button (click)="saveEvent()" id="saveButton">Conferma posizione</button>
    </div>
    <div *ngIf="cancelButtonVisiblity" id="cancel">
        <button (click)="cancelEvent()" id="cancelButton">Cancella Evento</button>
    </div>
</div> 