#map1 {
    height: 1200px;
    clip-path: ellipse(500px 500px); 
    position: relative;
}
#zoom {
  position: absolute;
  bottom: 10px;
  left : 46%;
}
#save {
  position: absolute;
  bottom: 10%; 
  right : 50%;
}
#saveButton {
  font-weight: bold;
  height: 100px;
  width: 200px;
}
#cancel {
  position: absolute;
  bottom: 10%;  
  right : 35%;
}
#cancelButton {
  font-weight: bold;
  height: 100px;
  width: 200px;
  top : 10%;
}
#zoom button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: blanchedalmond;
  font-size: 80px;
  font-weight: bold;
  height: 100px;
  width: 80px;;
}


#mapContainer {
    position:relative;
    height: 1200px;
}
#cerchio {
    position: absolute;;
    bottom: 100px;
    right: 23.7%;
    border: 5px solid black;
    background-color: black;
    border-radius:50%;
    height: 1000px;
    width: 1000px;
    opacity: 0.8;
    z-index: 1;
}
#creaEventoButton {
  background-color: black;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: blanchedalmond;
  font-size: 40px;
  font-weight: bold;
  height: 100px;
  width: 300px;
}